{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/BloodCells/homepage.css' %}">
    <script src="{% static 'js/BloodCells/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/BloodCells/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/BloodCells/homepage.js' %}"></script>
    <title>Home page</title>
</head>
<body>
<main class="main_full">
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="panel">
                <div class="button_outer" id="button_outer">
                    <div class="btn_upload">
                        <input type="file" id="upload_file" name="submit_file" onchange="updateValue(this.value)">
                        Upload Image
                    </div>
                    <div class="processing_bar"></div>
                    <div class="success_box"></div>
                </div>
            </div>
            <div class="error_msg" id="error_msg"></div>
            <div class="uploaded_file_view" id="uploaded_view">
                <img id="img_upload" src="{{base64_string_origin}}">
            </div>
            <center>
                <button id="btn_submit" type="submit" onclick="clickSubmit(this)"></button>
            </center>
        </form>
        <br />
        {% for sub, label in list_sub_img_and_labels %}
            <td><img src="{{ sub }}" height="80" width="80"/></td>
            <td>{{ label }}</td>
        {% endfor %}
    </div>
</main>
</body>
</html>